body {
    font-family: Georgia, serif;
    background: white url;
    margin:  0;
    padding: 0;
}

#outer {
    border: white solid 2px;
    /* max-width: 1260px; */
    background-color: white;
    margin: auto;
}

#header {
    height: 15rem;
    background: whitesmoke;
    border: 5px;
    padding-bottom: .3rem;
    }
#logo {
    left:0;
    height: 50%;
    position: relative;


}

#fce-logo{

    /* height: auto; */
    top: 3.5rem;
    display: block;
    float: left;
    position: relative;
}
#comptia {
    position: relative;
    float: right;
}
#comptia-image {
    top: 3.5rem;
    position: relative;
    width: 200px;
    height: auto;
}

#nav {
    /* border-style: outset; */
    width: 100%;
    text-align: center;
    background: white;
    display: block;
    margin-top: 0;
    position: absolute;
    top:0;

}

marquee {
    display: block;
    top: 5rem;
    position: relative;
    /* padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px; */
    font-size: 64px;
    color: darkblue;
}
#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    margin: 0;
    padding: 0;
    float: left;
}

nav li a:link, nav li a:visited {
	font-family:"Arial Black", Gadget, sans-serif;
    float: left;
    text-decoration: none;
	display:block;
	color:darkblue;
	padding:15px;
	margin-right:0px;
	line-height:20px;
	background-color:white;
	border-radius:5px;
	border: solid 1px #fff;
}

nav li a:hover, nav li a:active {
	font-family:"Arial Black", Gadget, sans-serif;
	display:block;
	color:white;
    text-decoration:none;
	padding:15px;
	margin-right: 0px;
	line-height:20px;
	background-color:red;
	border-radius:5px;
	border: solid 1px #fff;
}

nav li a.current {
    margin-top: -5px;
    height: 20px;
    background-color: darkblue;
    color: white;
    border: none;
}
    

#content {
    position: relative;
    width: 80%;
    float:left;
}

#mainsection {
    width: 100%;
    margin-left:.5rem;
    margin-right: 2em;
    padding: 0 10px;
    font-size: 1.5rem;
    }

#mainsection p, h2 {
    margin: 0;
    padding-right: .5rem;
}

div .section1, div .section2, div .section3, div .section4 {
    max-width: 50%;
    float: left;
    position: relative;
    width: 100%;
}
/* .section1, .section2,.section3,.section4{
    float: left;
    height: 40%;
    width: 100%;
    padding: 1px;
    margin: 2px;
    position: relative;
    
} */

.section5, .section6,.section7,.section8{
    float: left;
    padding: 0 2em;
    margin: 2em;
    padding-right: 2em;
    
}

figure {
    border-style: inset;
    margin: .1rem;
    padding: .1rem;
    margin: 1rem;
    background: lightgray;
    color: darkslategray;
}

iframe {
    margin: 10px;
    border: 5px;
    border-style: outset;
}

table#software {
    margin: auto;
    border-style: inset;
    width: 500px;
    background-color: lightblue;
}

.tablehead {
    background-color: darkblue;
    color: whitesmoke;
}

td {
    background-color: white;
}


aside {
    background: darkblue;
    color: white;
    float: right;
    width: 15%;
    padding: 0 10px;
    border-left: solid black 1px
}

#dj {
    margin-left: .1rem;
    margin-right: .1rem;
    max-width: 100%;
    border: solid white 5px;
    padding: 2px;
}
footer {
    clear: both;
    text-align: center;
}

.section-images {
    width:95%;
    padding:1%;
}

